* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.card-container {
    align-items: center;
    margin: 100px auto;
    padding: 50px 100px;
    justify-content: center;
    height: fit-content;
    max-width: 90%;
    width: max-content;
    border-radius: 50px;
    border: 0.5px solid lightblue;
    box-shadow: 10px 10px 4px lightblue;
}

header {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 25px;
}

.name {
    text-transform: capitalize;
    margin-top: 10px;
    padding: 20px 30px;
    font-size: 2rem;
    height: fit-content;
}

.user-time {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
  padding: 15px 20px;
  font-family: "Courier New", monospace;
  font-weight: 600;
  border: 0.5px ridge lightblue;
  border-radius: 8px;
  box-shadow: 5px 5px 3px lightblue;
  background-color: #f9fafb;
  text-align: center;
}

.avatar-image {
  width: 250px;
  height: 250px;
  border: 0.5px ridge lightblue; 
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  box-shadow: 5px 5px 3px lightblue;
}

.avatar-main-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.user-bio {
    max-width: 600px;
    line-height: 1.5rem;
    margin: 20px 0;
    text-align: justify;
}
.user-bio p {
    font-size: 18px;
    font-weight: 300;
}

footer {
    justify-content: space-around;
}

.social-links {
    display: flex;
    margin: 20px;
    justify-content: center;
    gap: 50px;
}

.instagram:hover,
.twitter:hover,
.discord:hover {
    transform: scale(1.1);
    background-color: rgba(79, 70, 229, 0.1);
    border-radius: 50%;
}

.instagram {
    width: 40px;
    height: 40px;

}
.twitter{
    width: 40px;
    height: 40px;
    
}
.discord {
    width: 40px;
    height: 40px;
    
}

a:focus-visible {
    outline: 3px solid #4f46e5;
    outline-offset: 2px;
    outline: lightblue;
    border-radius: 4px;
    transition: 0.2s ease;
}

h2, h3, h4 {
    color: rgb(71, 71, 71);
}

.hobs-dis {
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 25%;
}
.hobbies, .dislikes {
    text-wrap: 200px;
    max-width: 300px;

}

.contact-about-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.contact-me,
.about-me {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    padding: 15px 20px;
    font-family: "Courier New", monospace;
    font-weight: 600;
    border: 0.5px ridge lightblue;
    border-radius: 8px;
    box-shadow: 3px 3px 1px lightblue;
    background-color: #f9fafb;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.about-me:hover,
.contact-me:hover {
    transform: scale(1.2);
    background-color: #305e8b;
    color: #c3e1ff;
}
a {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    color: #333;
}

.about-me a:hover,
.contact-me a:hover {
    color: #c3e1ff;
}

/* CONTACT PAGE */

.header {
    font-size: 2rem;
}

label {
    font-size: 1.5rem;
    color: #333;
}

input {
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 6px 3px;
    margin: 0 20px;
}

input:focus-visible {
    border: 2px solid lightblue;
}
.fullname {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.email {
    margin-bottom: 20px;
}

.subject {
    margin-bottom: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

textarea {
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 6px 10px;
}
.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px;
    border: 1px solid lightblue;
    border-radius: 8px;
    background: white;
    transition: all 0.3s ease;
}

button:hover {
    background: #305e8b;
    color: #c3e1ff;
    border: none;
    box-shadow: 0 0 10px #305e8b;
    transform: scale(1.1);
}

.dashboard {
    display: flex;

}

.dashboard a {
    font-size: 18px;
    transition: all 0.2s ease ;
}

.dashboard a:hover {
    color: #4f46e5;
    padding: 10px;
    border: 2px solid #4f46e5;
    border-radius: 6px;
}

/* ABOUT US */

.bio {
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
    margin: 20px 0;
}

.goals {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
}
.goals ul {
    margin-left: 20px;
}

.confidence-area {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
}

.confidence-area ul {
    margin-left: 20px;
}

h3 {
    margin-bottom: 10px;
}
/* Desktop */
@media (min-width: 768px) and ( max-width: 1440px) {
    .name {
        border-left: 2px solid gray;
    
    
    }
}


/* Tablet */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        text-align: left;
        padding: 40px;
        margin: 60px auto;
        width: max-content;
        max-width: 70%;
        height: fit-content;
    }

    .avatar-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .user-bio {
        width: 90%;
    }

    .hobs-dis {
        flex-direction: column;
        align-items: center;
    }
}

/* --- Mobile --- */
@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        padding: 30px 20px;
        box-shadow: none;
        border-radius: 30px;
    }

    .name {
        font-size: 1.5rem;
        margin-top: 40px;
        padding: 10px 15px;
    }

    .avatar-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }   

    .avatar-image .card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    .user-bio p {
        font-size: 16px;
    }

    .social-links img {
        width: 35px;
        height: 35px;
    }
    .hobs-dis {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    }
}